* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    color: white;
    background-color: #0B1D30;
}

.topline {
    margin: 10px 0;
}

.topline input {
    margin-top: 10px;
}

.five-day {
    color: white;
    background-color: #4192E8;
    margin: 0 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.uv-green {
    background-color: green;
}

.uv-yellow {
    background-color: yellow;
}

.uv-orange {
    background-color: orange;
}

.uv-red {
    background-color: red;
}

.uv-violet {
    background-color: violet;
}

/*
.card-header {
    border-bottom:  white;
    text-underline-position: bottom;
}
*/

/*will need media queries for margin and padding adjustment*/